th {
  vertical-align: bottom; /* or middle, top */
}



.border-none {
  border: 0;
}

.border {
  border-color: #666;
  border-bottom-color: #666;
  border-top-color: #666;
}

table {
  border-collapse: collapse;
}

.pad-4 {
  padding-bottom: 4em;
}

.pink {
  background-color: #f2bcbc;
  border-radius: 8px;
}

.grey {
  background-color: #ccc;
  border-radius: 8px;
}

.purple {
  background-color: #d2d6f0;
  border-radius: 8px;
}

.green {
  background-color: #d1e0bf;
  border-radius: 8px;
}