html {
  font-family: Merriweather, serif;
}

th {
  vertical-align: bottom; /* or middle, top */
}

.calender, th, td {
  border: 1px solid #ccc;
}

tbody td {
  height: 10em;
}

.border-none {
  border: 0;
}

.event {
  background-color: #f2f2f2;
}

.border {
  border-color: #ccc;
  border-bottom-color: #ccc;
  border-top-color: #ccc;
}

table {
  border-collapse: collapse;
}

.pink {
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  color: #991919;
  border-radius: 8px;
}

.grey {
  background-color: #ccc;
  border: 1px solid #666;
  color: #333;
  border-radius: 8px;
}

.purple {
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  color: #38448e;
  border-radius: 8px;
}

.green {
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  color: #51603f;
  border-radius: 8px;
}
