html {
  font-family: 'Merriweather', serif;
}

th {
  vertical-align: bottom; /* or middle, top */
}

.border-none {
  border: 0;
}

.border {
  border-color: #ccc;
  border-bottom-color: #ccc;
  border-top-color: #ccc;
  border-width: 1px,
}

table {
  border-collapse: collapse;
}

.pink {
  background-color: #f2bcbc;
  border-color: #b92828;
  border-radius: 8px;
}

.grey {
  background-color: #ccc;
  border-color: #666;
  border-radius: 8px;
}

.purple {
  background-color: #d2d6f0;
  border-width: 1px;
  border-color: #1d38da;
  border-radius: 8px;
}

.green {
  background-color: #d1e0bf;
  border-color: #6b7e54;
  border-radius: 8px;
}